@import "vars";
@import "fonts";
@import "libs";
@import "global";

/*  */

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: $white;
    text-align: center;

    &__wrapper {
        display: flex;
        flex-direction: column;

        height: 100vh;
    }
    &__logo {
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }
    &__suptitle {
        text-align: center;
        padding-top: 140px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        opacity: 0.8;
    }
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
    }
    &__subtitle {
        font-size: 42px;
        line-height: 57px;
    }
    &__social {
        margin: 0 auto;
        margin-top: auto;
        display: flex;
        column-gap: 30px;
        align-items: center;
        padding-bottom: 36px;
    }
    &__btn {
        /* position: absolute;
        top: 50%;
        right: 52%; */
        padding-top: 50px;
        padding-right: 14%;
    }
}
.services {
    margin: 150px 0;
    &__title {
        color: $grey;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    &__wrapper {
        margin-top: 60px;
    }
    &__items {
        display: flex;
        column-gap: 90px;
    }
    &__item {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item-header {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
    &__item-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
}

/* buttons */

.main-btn__white {
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/btn-white/btn-arrow.svg);
        width: 42px;
        height: 16px;
        bottom: 44px;
        right: 30px;
    }
    &::after {
        position: absolute;
        content: "записаться на консультацию";
        width: 258px;
        bottom: 22px;
        left: 44px;
        font-size: 18px;
        line-height: 25px;
    }
    svg:hover {
        stroke: $white;
        fill: $moss;
    }
    &:hover {
        svg {
            stroke: $white;
            fill: $moss;
        }
    }
}

.main-btn__black {
    position: relative;
    cursor: pointer;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/btn-black/btn-arrow.svg);
        width: 42px;
        height: 16px;
        bottom: 44px;
        right: 30px;
    }
    &::after {
        position: absolute;
        content: "записаться на консультацию";
        color: $black;
        width: 258px;
        bottom: 22px;
        left: 44px;
        font-size: 18px;
        line-height: 25px;
    }
    svg:hover {
        stroke: $white;
        fill: $moss;
    }
    &:hover {
        svg {
            stroke: $white;
            fill: $moss;
        }
    }
}
